<a href="https://colab.research.google.com/github/EkenoSamson/OOP/blob/main/Employee_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Employee():
  #class variables
  no_of_employees  = 0
  raise_amount = 1.04

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

    Employee.no_of_employees += 1

  #instance variable
  def fullname(self):
    return f'{self.first} {self.last}'

  #instance method for calculating employee pay after raise
  def apply_raise(self):   #class varible
    self.pay = int(self.pay * self.raise_amount)

  #class method for raise pay
  @classmethod
  def set_raise_amount(cls, amount): #can not use the class word
    cls.raise_amount = amount

  #class method for accepting string input and splitting
  #if the input is entered as a string separated by coma
  @classmethod
  def from_string(cls, emp_str):
    first, last, pay = emp_str.split(',')
    return cls(first, last, pay)

In [ ]:
emp_1 = Employee('John', 'Mark', 50000)
emp_2 = Employee('Lokwang', 'Emuria', 60000)

In [ ]:
Employee.no_of_employees

2

In [ ]:
print(emp_1.pay)
print(f'{emp_1.email}')
emp_1.fullname()

50000
John.Mark@company.com

'John Mark'

In [ ]:
emp_1.apply_raise()
emp_1.pay

52000